<div class="login">
  <form (ngSubmit)="loguearse()" class="row g-2">
    <div class="form">
      <h2>Bienvenid@</h2>
      <input type="text" placeholder="Usuario">
      <input type="password" placeholder="Contraseña">
      <input type="submit" value="Ingresar" class="submit"> 
      <input type="button" value="Registrarse" class="submit" (click)='irRegistrar()'>
      <span class="reset"><a href="#">Olvidé mi Contraseña</a></span>      
    </div>
  </form>
</div>
<router-outlet></router-outlet>