 * {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .login {
    width: 320px;
    height: 550px;
    border: 1px solid #CCC;
    background: url(https://media2.giphy.com/media/7AtHoQ9XWbpwLRxs0t/giphy.gif?cid=ecf05e47dz1p0hxd2hwzp4iv74dlwtltkh2a91jwxmka4hbo&rid=giphy.gif&ct=g) center center no-repeat;
    background-size: cover;
    margin: 30px auto;
    border-radius: 20px;
  }
  .login .form {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
  }
  .login .form h2 {
    color:white;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .login .form input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color:rgba(255,255,255,.8) ;
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: #444;
    border-radius: 5px;
    font-size: 14px;
  }
  .login .form input:focus {
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
  }
  ::-webkit-input-placeholder {
      color: #444;
  }
  .login .form input.submit {
    background: rgba(255,255,255,.9);
    color: #444;
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
  }
  
  .reset {
    font-size: 90%;
    text-align: center; 
}
  .reset a{
    color: white;
    display: block;
    text-decoration: none;
    font-family: sans-serif;  
    margin-top: 25px;    
    font-size: 15px;
    /*margin-bottom: 3px;*/
  }

  .reset a:hover{
    color: #719192;
  }
 
