<div class="login">
    <form class="row g-2">
    <div class="form">
      <h2>Registrate</h2>
      <input type="text" name="nombre" [(ngModel)]="nombre" required placeholder="Nombre">
      <input type="text" name="apellido" [(ngModel)]="apellido" required placeholder="Apellido"> 
      <input type="text" name="direccion" [(ngModel)]="direccion" required placeholder="Direccion">
      <input type="email" name="email" [(ngModel)]="email" required placeholder="Email">
      <input type="password" name="password" [(ngModel)]="password" required placeholder="Contraseña">
      <input (click)="signUp()" type="submit" value="Registrarme">          
    </div>
</form>
</div>
<router-outlet></router-outlet>
