<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="bg-dark " >
  <nav class="d-flex flex-column flex-md-row justify-content-center ">
      <button type="button" class="btn btn-dark btn-lg" (click)='irHome()'>Home</button>
      <button type="button" class="btn btn-dark btn-lg" (click)='irProductos()'>Productos</button>
      <button type="button" class="btn btn-dark btn-lg" (click)='irCuenta()'>Cuenta</button> 
      <button type="button" class="btn btn-dark btn-lg" (click)='irLogin()' *ngIf="!user">Iniciar sesion</button> 
      <button type="button" class="btn btn-dark btn-lg" (click)='cerrarSesion()' *ngIf="user != null">Cerrar sesion</button>
    </nav>
    <div class="buscadorCarro"> 
      <img type="button" class="carroMenuImg" (click)='irCarrito()' src="../assets/shopping-cart.svg">
      <div class="circuloCantidadProductos" *ngFor="let producto of productosEnCarrito">
        <h1>{{cantidadTotal}}</h1>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
