/* You can add global styles to this file, and also import other style files */
body{background: rgba(146, 146, 146, 0.596);}
footer{
    color: white;
    background: black;
    margin-bottom: 10px;
    width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
