
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>   
        
        </div>
    <div class="carousel-inner pt-3">
      <div class="carousel-item active">
        <img src="../../assets/slide5.png" widht=auto height=300em class="d-block w-100" alt="Screenshot_1">
      </div>
      <div class="carousel-item">
        <img src="../../assets/slide2.jpg" widht=auto height=300em class="d-block w-100" alt="Screenshot_2">
      </div>
      
      <div class="carousel-item">
        <img src="../../assets/slide3.jpg" widht=auto height=300em class="d-block w-100" alt="Screenshot_3">
      </div>
    </div>
</div>
</div>
<div class="d-flex flex-column justify-content-center bg-white m-4 rounded-3" >
    <div class="d-flex justify-content-center">
        <h1>Destacados</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 rounded-5 m-3">
        <div class="col">
          <div class="card h-100">
            <img src="../../assets/ACCESORIOS.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title"><b>ACCESORIOS GAMER</b> </h3>
              <p class="card-text">Todo lo que necesitas para ser el mejor gamer! Con los mejores precios!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Actualizado hace 3 horas</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../assets/slide4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title"><b>MSI</b> </h3>
              <p class="card-text">Si eres gamer o te encantan los juegos de ordenador, esta es tu marca perfecta. MSI la marca líder mundial de juegos, se caracteriza por su gran diseño, innovación y la increíble calidad y rendimiento de sus portátiles.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Actualizado hace 3 horas</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../assets/slide3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title"><b>ASUS</b> </h3>
              <p class="card-text">ASUS es una de las mejores marcas de computadoras portatiles en la actualidad, ya que sus equipos estan de los más equipados en cuanto a procesadores tanto como Intel como de AMD</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Actualizado hace 3 horas</small>
            </div>
          </div>
        </div>
      </div>
</div>

